h1{
  font-family: 'Fascinate Inline', cursive;
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
  background-color: #1995AD;
}

h2{
  font-family: 'Fascinate Inline', cursive;
  font-size: 40px;
  text-align: left;
  color: #1995AD;
}



p {
  padding: 10px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  background-color: #FFFFFF;
  color: #003B46;
}


input[type=submit], input[type=button] {
  text-decoration: none;
  width: 130px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 4px;
  font-size: 20px;
  background-color: #A1D6E2;
  background-position: 20px 200px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 12px 20px 12px 20px;


}

input[type=file] {
  text-decoration: none;
  width: 300px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 4px;
  font-size: 16px;
  background-color: #A1D6E2;
  background-position: 20px 200px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 12px 20px 12px 20px;
}

#chip {
    display: inline-block;
    padding: 0 25px;
}

#chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  #chip
  {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
      min-height: 50px;
      min-width: 50px;
      display: none;

  }


body {
color: #ffffff;

}

input[type=text] {
    width: 130px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    border: 2px solid #BCBABE;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;

}

input[type=text]:focus {
    width: 75%;
}

.topnav {
    background-color: #1995AD;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #A1D6E2;
    color: black;
}

#logo {
    text-align: center;
    background-color: #1995AD;
}
